body {
  background-image: url(css_images/sky.jpg);
}

.fs-4 img {
  width: 50px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#grpInfo {
  position: a;
  display: flex;
  padding: 50px;
}

#grpDesc {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

p {
  color: #333;
  font-family: "Muli", sans-serif;
  margin-bottom: 15px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(4, 43, 4);
  margin-left: 10px;
}

.ima {
  width: 50px;
  height: 60px;
}

.nav :hover {
  color: beige;
  text-align: center;
  align-items: center;

  background-color: rgb(50, 50, 245);
  border-radius: 30%;
}
